[Unit]
Description=MT7988 Serial Number Tool
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rdkmmap
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
